.table {
  width: 100%;
}

.tableHeader {
  border: 1px solid dimgray;
  padding: 0;
  font-size: 13px;
  line-height: 10px;
  cursor: default;
  transition: 0.3s;
}

.tableCell {
  font-size: 13px;
  line-height: 10px;
  text-align: center;
  background-color: transparent;
  border: 1px solid dimgray;
  padding: 5px 4px;
}

.cell {
  padding: 5px 4px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid dimgray;
  font-size: 13px;
  line-height: 10px;
}

.firstCell {
  position: sticky;
  left: 0;
  background-color: black;
  text-align: left;
  white-space: nowrap;
}

.buttonDelRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: orange;
  color: #fff;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.buttonDelRow span {
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.buttonDelRow:hover {
  background-color: red;
}

.tdInner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  justify-content: space-between;
}
