.table {
  width: 100%;
  margin-left: -2px;
}

.tableHeader {
  border: 1px solid dimgray;
  padding: 0;
  font-size: 13px;
  line-height: 10px;
  cursor: default;
  transition: 0.3s;
}

.tableCell {
  font-size: 13px;
  line-height: 10px;
  text-align: center;
  background-color: transparent;
  border: 1px solid dimgray;
  padding: 5px 4px;
}

.cell {
  padding: 5px 4px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid dimgray;
  font-size: 13px;
  line-height: 10px;
}

.firstCell {
  position: sticky;
  left: 0;
  background-color: black;
  text-align: left;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonDelRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: orange;
  color: #fff;
  border: 0;
  padding: 0;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonDelRow span {
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.buttonDelRow:hover {
  background-color: red;
}

.tdInner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  justify-content: space-between;
}

.hiddenCell {
  border-bottom: 0;
}

.hiddenCell2 {
  border-top: 0;
}

.hiddenCell2 div {
  margin-top: -17px;
  text-align: center;
}

.cellButton {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 18px;
  height: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.cellButton:hover {
  background-color: steelblue;
}

.cellButton.selected:hover {
  background-color: orange;
}

.cellButton.selected:hover > div {
  color: orange;
}

.cellButton div {
  display: none;
  transition: 0.3s;
}

.cellButtonFull {
  background-color: #fff;
}

.cellButtonFull:hover div {
  color: steelblue;
}

.currentDate {
  border-color: steelblue;
}
