.cell {
  padding: 5px 4px;
  box-sizing: border-box;
  color: #fff;
}

.cell:hover {
  background-color: steelblue;
  color: #fff;
}

.weekend {
  width: 100%;
  height: 100%;
  background-color: darkgreen;
}

.weekend:hover {
  background-color: darkgreen;
}

.headerFirstCol {
  padding-left: 15px;
  padding-right: 15px;
}

.headerTopCell:hover {
  background-color: transparent;
}
